<a href="https://colab.research.google.com/github/pgb287/Data_Fundamentals_Humai/blob/main/SQL_1/Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/institutohumai/cursos-python/blob/master/BasesDeDatos/1_Intro_DBs/ejercicios.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>

## Ejercicios SQL I:

**DML:**
1. Ingresar dos nuevos clientes en la tabla Customers.
2. Actualizar el valor de la orden con order_id 5 a $200.
3. Eliminar uno de los clientes agregados a la tabla Customers.
4. Insertar una orden y su envio.

**DDL:**


1. Calcular la cantidad de ventas realizadas en el 2022.
2. Retornar la fecha de la primera venta registrada.
3. Retornar la venta de mayor dinero de cada cliente que tenga ventas.
4. Retornar la cantidad de envios a cada ciudad que no sea Belgrano.
5. Calcular la cantidad de dias activos que tiene cada cliente que aún no se han dado de baja.
6. Calcular el promedio de cantidad de dias activos que tienen los clientes que aún no se han dado de baja.
7. Retornar la cantidad de envios realizados entre enero y junio del 2022 para Mar del Plata.
8. Retornar la cantidad gastada por cliente con sus nombres para aquellos clientes que hayan gastado mas de $20.

In [1]:
# instalacion de Postgres
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection (establecer conexion)
%load_ext sql
%config SqlMagic.feedback=False
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

 * Starting PostgreSQL 12 database server
   ...done.
CREATE ROLE

'Connected: @postgres'

In [2]:
# Crear la Base de Datos (esquema)
%sql CREATE SCHEMA IF NOT EXISTS humai

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [3]:
# Crear las tablas de la Base de Datos
%sql CREATE TABLE IF NOT EXISTS humai.Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));
%sql CREATE TABLE IF NOT EXISTS humai.Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES humai.Customers(customer_id));
%sql CREATE TABLE IF NOT EXISTS humai.Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES humai.Orders(order_id));

 * postgresql+psycopg2://@/postgres
 * postgresql+psycopg2://@/postgres
 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [4]:
# Verificar la creacion de las tablas
%sql SELECT * FROM information_schema.tables WHERE table_schema = 'humai';

 * postgresql+psycopg2://@/postgres

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,postgres,humai,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
1,postgres,humai,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
2,postgres,humai,shipments,BASE TABLE,None,None,None,None,None,YES,NO,None

In [5]:
# Insertar registros en las tablas
%sql INSERT INTO humai.Customers VALUES (1, 'Eugenio', '08/21/1998', Null), (2, 'Mario', '05/05/2005', Null), (3, 'Pedro', '03/08/2020', '02/05/2022')
%sql INSERT INTO humai.Orders VALUES (1, 1, '06/05/2022', 45), (2, 1, '06/05/2021', 60), (3, 1, '06/06/2022', 70), (4, 2, '01/05/2022', 5), (5, 3, '06/10/2022', 145), (6, 3, '03/02/2022', 2);
%sql INSERT INTO humai.Shipments VALUES (1, 1, '06/06/2022', 'Belgrano'), (2, 2, '06/06/2021', 'Mar del Plata'), (3, 3, '06/10/2022', 'Belgrano'), (4, 4, '02/05/2022', 'San Isidro'), (5, 5, '06/15/2022', 'Belgrano'), (6, 6, '03/05/2022', 'Mar del Plata');

 * postgresql+psycopg2://@/postgres
 * postgresql+psycopg2://@/postgres
 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

# RESOLUCION DE LOS EJERCICIOS

In [8]:
# 1) Ingresar dos nuevos clientes en la tabla Customers. (Fecha: MES/DIA/AÑO)
%sql insert into humai.Customers values (4, 'Pablo', '01/01/2012', '12/31/2022'), (5, 'Ignacio', '01/01/2019', '12/31/2023')

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [11]:
# 2) Actualizar el valor de la orden con order_id 5 a $200.
%sql update humai.orders set order_price = 200 where order_id = 5

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [14]:
# 3) Eliminar uno de los clientes agregados a la tabla Customers.
%sql delete from humai.Customers where customer_id = 4

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [18]:
# 4) Insertar una orden y su envio.
%sql insert into humai.orders values (7,5,'03/09/2023',12) 
%sql insert into humai.Shipments values (7,7,'03/09/2023','Lanus')

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [22]:
# DE PRUEBAAA
%sql select * from humai.shipments

 * postgresql+psycopg2://@/postgres

   shipment_id  order_id shipment_date  shipment_city
0            1         1    2022-06-06       Belgrano
1            2         2    2021-06-06  Mar del Plata
2            3         3    2022-06-10       Belgrano
3            4         4    2022-02-05     San Isidro
4            5         5    2022-06-15       Belgrano
5            6         6    2022-03-05  Mar del Plata
6            7         7    2023-03-09          Lanus